<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title color="light">dashboard</ion-title>
    <ion-button slot="end" color="primary" fill="clear" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar class="ion-no-border">
    <ion-searchbar animated="true" placeholder="Buscar previsam" mode="ios" [formControl]="formInput">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item [button]="true" lines="true" detail="true" *ngFor="let movie of movies" (click)="showModal(movie)">
      <ion-thumbnail slot="start">
        <img [alt]="movie.name" [src]="movie.image?.medium" errorImage />
      </ion-thumbnail>
      <ion-label>{{movie._embedded.show.name}} - {{movie.name}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>